<h1>Articles Listing Page</h1>


<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dummy Title</td>
            <td>Dummy Description</td>
            <td>Action Button</td>
        </tr>
        <tr>
            <td>Dummy Title</td>
            <td>Dummy Description</td>
            <td>Action Button</td>
        </tr>
    </tbody>
</table>